.single-clubfinder h2 a {
  font-family: 'Rubik', sans-serif;
  color: #4a4a4a; }

.single-clubfinder .w-form .btn {
  white-space: unset; }

.single-clubfinder #wrap-map {
  min-height: 400px; }
  .single-clubfinder #wrap-map #map {
    height: 100%;
    min-height: 400px; }

.single-clubfinder .club-info {
  margin-top: 5vh; }

.single-clubfinder .breadcrumb li {
  display: inline;
  position: relative; }
  .single-clubfinder .breadcrumb li:nth-child(2) {
    padding-left: 24px; }
    .single-clubfinder .breadcrumb li:nth-child(2):before {
      font-family: dashicons;
      content: "\f345";
      left: 6px;
      position: absolute;
      top: 1px;
      position: absolute; }

.single-clubfinder .club-name {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px; }

.single-clubfinder .results-number {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal; }

.single-clubfinder .wrap-filter .jcf-select {
  width: 230px;
  height: 50px;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #4a4a4a;
  margin-right: 9px; }

.single-clubfinder .wrap-filter .btn {
  width: 190px;
  height: 50px;
  color: #4a4a4a;
  background-color: #ebecee; }

.single-clubfinder .t-clubs-nearby {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.53px;
  font-size: 14px;
  color: #1d1f24; }

.single-clubfinder .results {
  list-style: none;
  padding: 0; }

.single-clubfinder .club {
  min-height: 70vh; }
  .single-clubfinder .club .w-text {
    min-height: 40vh; }

.single-clubfinder .result {
  margin: 5vh 0; }
  .single-clubfinder .result .title {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase; }
  .single-clubfinder .result .text {
    font-size: 15px;
    line-height: 20px;
    text-align: justify; }
  .single-clubfinder .result .distance {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: bold; }
  .single-clubfinder .result .learn-more {
    color: #000;
    background-color: #ebecee;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border: 0; }
    .single-clubfinder .result .learn-more:hover {
      background-color: #dedede; }
  .single-clubfinder .result .t-we-offer {
    color: #b9b9b9;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b9b9b9; }
  .single-clubfinder .result .options {
    list-style: none;
    padding: 0; }
    .single-clubfinder .result .options .option {
      text-align: center; }
      .single-clubfinder .result .options .option img {
        margin: 0px auto;
        width: auto;
        height: auto; }
      .single-clubfinder .result .options .option figcaption {
        font-size: 9px;
        text-transform: uppercase;
        color: #3b1d1d;
        width: 35px;
        height: 19px;
        font-family: 'Rubik', sans-serif;
        font-size: 9px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.39;
        letter-spacing: normal;
        text-align: center; }
        .single-clubfinder .result .options .option figcaption:after {
          display: none !important; }

.single-clubfinder .contact {
  background-color: #f1f1f1;
  border-radius: 0;
  border: 0; }
  .single-clubfinder .contact .title {
    width: 59px;
    height: 14px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin: 24px 0 0 28px; }
  .single-clubfinder .contact .list {
    list-style: none;
    padding: 0;
    font-family: 'Rubik', sans-serif; }
    .single-clubfinder .contact .list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .single-clubfinder .contact .list li .w-icon {
        width: 45px;
        height: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .single-clubfinder .contact .list li .w-icon .dashicons {
          margin: 0px auto; }
        .single-clubfinder .contact .list li .w-icon img {
          margin: 0px auto;
          display: inline-block; }
      .single-clubfinder .contact .list li .t-item {
        width: 100%; }
        .single-clubfinder .contact .list li .t-item select {
          border: 0;
          width: 100%;
          padding: 12px 0; }
      .single-clubfinder .contact .list li.i-available {
        margin: 0; }
        .single-clubfinder .contact .list li.i-available .jcf-select {
          background: transparent;
          border: 0;
          width: 100%;
          margin: 0; }
          .single-clubfinder .contact .list li.i-available .jcf-select:focus {
            border-color: transparent; }
          .single-clubfinder .contact .list li.i-available .jcf-select .jcf-select-text {
            margin: 0; }
          .single-clubfinder .contact .list li.i-available .jcf-select .jcf-select-drop .jcf-option {
            width: 100%; }
  .single-clubfinder .contact #wrap-map {
    min-height: 200px; }
    .single-clubfinder .contact #wrap-map #map {
      height: 100%;
      min-height: 200px; }

.single-clubfinder #loading {
  background-image: url("../img/diagonal-noise.png");
  background-repeat: repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  top: 0;
  left: 0;
  background-position: center; }
  .single-clubfinder #loading .d-flex {
    width: 100%;
    height: 100%; }
    .single-clubfinder #loading .d-flex img {
      border: 1px solid #000;
      box-shadow: 0px 6px 6px #000;
      width: 10vw; }

.single-clubfinder .page-item.active .page-link {
  background-color: #ffd200; }

@media (max-width: 768px) {
  .single-clubfinder .t-clubs-nearby {
    color: #1d1f24;
    margin: 6vh 0; }
  .single-clubfinder .w-form {
    margin: 24px 0; }
    .single-clubfinder .w-form .btn {
      margin: 0px auto;
      display: block; }
  .single-clubfinder .w-results {
    position: relative; }
  .single-clubfinder .results {
    padding-top: 3vh;
    border-top: 1px dashed #ccc; }
    .single-clubfinder .results .result:not(:nth-child(1)) {
      padding-top: 3vh;
      border-top: 1px dashed #ccc; }
    .single-clubfinder .results .result .distance {
      margin: 0; }
    .single-clubfinder .results .result .learn-more {
      margin: 12px auto;
      display: block; }
    .single-clubfinder .results .options {
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
      width: 80vw;
      margin: 0px auto; }
      .single-clubfinder .results .options .option figcaption {
        text-align: center;
        padding: 0; }
  .single-clubfinder .result .options {
    width: 80vw;
    margin: 0px auto; }
  .single-clubfinder .club {
    min-height: auto; }
    .single-clubfinder .club .w-text {
      min-height: auto; }
  .single-clubfinder .wrap-filter {
    width: 100%; }
    .single-clubfinder .wrap-filter .jcf-select {
      margin: 18px auto; }
      .single-clubfinder .wrap-filter .jcf-select .input-group-btn {
        margin-right: auto !important;
        margin-left: auto; }
    .single-clubfinder .wrap-filter .btn {
      margin: 0px auto; }
  .t-find-a-club {
    text-align: center; }
  .club-name {
    text-align: center;
    margin: 12px auto 0 auto; }
  .results-number {
    text-align: center;
    margin: 12px auto 24px auto; } }
/*# sourceMappingURL=club-finder-public.css.map */