.single-clubfinder{
    h2{
        a{
            font-family: 'Rubik', sans-serif;
            color: #4a4a4a;
        }
    }

    .w-form{
        .btn{
            white-space: unset;
        }
    }

  

    #wrap-map{
        min-height: 400px;
        #map{
            height: 100%;
            min-height: 400px;
        }
    }
  
    
    .club-info{
        margin-top: 5vh;
    }
    
    .breadcrumb{
        li{
            display: inline;
            position: relative;
            &:nth-child(2){
                padding-left: 24px;
                &:before{
                    font-family: dashicons;
                    content: "\f345";
                    left: 6px;
                    position: absolute;
                    top: 1px;
                    position: absolute;
                }
            }
        }
    }

    .club-name{
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
    }
    .results-number{
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
    }
    .wrap-filter{
        .jcf-select{
  
            width: 230px;
            height: 50px;
            font-size: 14px;
            letter-spacing: 0.8px;
            color: #4a4a4a;
            margin-right:9px;
        }
        .btn{
            width: 190px;
            height: 50px;
            color: #4a4a4a;
            background-color: #ebecee;
        }
    }
    
    .t-clubs-nearby{
        font-weight:bold;
        text-transform: uppercase;
        letter-spacing: 1.53px;
        font-size: 14px;
        color: #1d1f24;
    }
    
    .results{
        list-style: none;
        padding: 0;

    }


    .club{
        min-height: 70vh;
        .w-text{
            min-height: 40vh;
        }
    }
        .result{
            margin: 5vh 0;
            .title{
                font-family: 'Rubik', sans-serif;
                font-size: 19px;
                line-height: 22px;
                text-transform: uppercase;
            }
            .text{
                font-size:15px;
                line-height:20px;
                text-align: justify;
            }
            .distance{
                text-align: left;
                font-family: 'Rubik', sans-serif;
                color: #4a4a4a;
                font-size:12px; 
                font-weight: bold;
            }
            .learn-more{
                color: #000;
                background-color: #ebecee;
                text-transform: uppercase;
                font-size: 12px;
                font-weight:bold;
                width: 100px; height: 30px;
                border:0;
                &:hover{
                    background-color: #dedede;
                }
            }
            .t-we-offer{
                color: #b9b9b9;
                font-family: 'Rubik', sans-serif;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #b9b9b9;
            }
            .options{
                list-style: none;
                padding: 0;
                .option{
                    text-align: center;
                    img{
                        margin: 0px auto;
                        width:auto;
                        height:auto;
                    }
                    figcaption{
                        font-size: 9px;
                        text-transform: uppercase;
                        color: #3b1d1d;
                        width: 35px;
                        height: 19px;
                        font-family: 'Rubik', sans-serif;
                        font-size: 9px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.39;
                        letter-spacing: normal;
                        text-align: center;
                        &:after{
                            display: none !important;
                        }
                    }
                }
            }
            
        }
        
    
    
    .contact{
        background-color: #f1f1f1;
        border-radius: 0;
        border: 0;
        .title{
            width: 59px;
            height: 14px;
            font-family: Rubik;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            margin: 24px 0 0 28px;
        }
        .list{
            list-style:none;
            padding:0;
            font-family: 'Rubik', sans-serif;
            li{
                display: flex;
                align-items: center;
                .w-icon{
                    width:45px;
                    height:45px;
                    display: flex;
                    align-items: center;
                    .dashicons{
                        margin: 0px auto;
                    }
                    img{
                        margin: 0px auto;
                        display: inline-block;
                    }
                }
                .t-item{
                    width: 100%;
                    select {
                        border: 0;
                        width: 100%;
                        padding: 12px 0;
                    }
                    
                }
                &.i-available{
                    margin:0;
                    .jcf-select{
                        background:transparent;
                        border: 0;
                        width: 100%;
                        margin: 0;
                        &:focus{
                            border-color: transparent;
                        }
                        .jcf-select-text{
                            margin: 0;
                        }
                        .jcf-select-drop{
                            .jcf-option{
                                width: 100%;
                            }
                            
                        }
                    }
                }
            }
        }

        #wrap-map{
            min-height: 200px;
            #map{
                height: 100%;
                min-height: 200px;
            }
        }
    }

    #loading{

        background-image: url('../img/diagonal-noise.png');

        background-repeat: repeat;
        
        position: fixed;
        
        width: 100%;
        
        height: 100%;
        
        z-index: 10000;
        
        background-color: rgba(0,0,0,0.1);
    
        background-blend-mode: multiply;
        
        top: 0;
        
        left: 0;
        
        background-position: center;

        .d-flex{
            width: 100%;
            height: 100%;  
            
            img{
                border: 1px solid #000;
                box-shadow: 0px 6px 6px #000;
                width: 10vw;
            }
        }
    }

    .page-item.active .page-link{
        background-color: #ffd200;
    }
    
}

@media (max-width: 768px){

    .single-clubfinder {
        .t-clubs-nearby{
            color: #1d1f24;
            margin: 6vh 0;
        }
        .w-form{
            margin: 24px 0;
            .btn{
                margin: 0px auto;
                display: block;
            }
        }
        .w-results{
            position: relative;
        }
        .results {
            padding-top: 3vh;
            border-top: 1px dashed #ccc;

            .result{
                &:not(:nth-child(1)){
                    padding-top: 3vh;
                    border-top: 1px dashed #ccc;
                }

                .distance{
                    margin: 0;
                }
                .learn-more{
                    margin: 12px auto;
                    display:block;
                }

            }

            .options{
                justify-content: center !important;
                width: 80vw;
                margin: 0px auto;
                .option {
                    figcaption{
                        text-align: center;
                        padding:0;
                    }
                }
            }
         
        }  

        .result{
            .options{
                width: 80vw;
                margin: 0px auto;
            }
        }
        
        .club{
            min-height: auto;
            .w-text{
                min-height: auto;
            }
        }
        .wrap-filter{
            width: 100%;
    
        .jcf-select{
            margin: 18px auto;
            .input-group-btn{
                margin-right: auto !important;
                margin-left: auto;
            }
        }
        .btn{
            margin: 0px auto;
        }
    }  
    }
    
    .t-find-a-club{
        text-align: center;
    }
    .club-name{
        text-align: center;
        margin: 12px auto 0 auto;
    }
    .results-number{
        text-align: center;
        margin: 12px auto 24px auto;
    }
}